In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## __패키지 설치__

In [ ]:
!pip install catboost
!pip install category_encoders

## __라이브러리 구성__

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings, random
warnings.filterwarnings(action='ignore')

from sklearn.metrics import log_loss
from sklearn.preprocessing import StandardScaler
from category_encoders.ordinal import OrdinalEncoder
from sklearn.model_selection import StratifiedKFold

from sklearn.cluster import KMeans
from catboost import CatBoostClassifier, Pool

In [ ]:
# e 지수 없이 데이터 출력하는 방법
pd.options.display.float_format = '{:.5f}'.format

## __데이터 불러오기__

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/머신러닝 프로젝트/data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/머신러닝 프로젝트/data/test.csv')
sample_submission = pd.read_csv('/content/drive/MyDrive/머신러닝 프로젝트/data/sample_submission.csv')

## __데이터 전처리__
1. 결측치 처리

In [ ]:
train.fillna('NaN', inplace=True) 
test.fillna('NaN', inplace=True)

2. 이상치 처리

In [ ]:
train[train['family_size'] > 7]

# DAYS_BIRTH -17754 >>> 중복된 데이터가 3개 
# DAYS_BIRTH -13827 >>> 중복된 데이터가 2개 
# 다른 중복 데이터는 어떻게 분간하여 삭제할지 ..?!

In [ ]:
train[train['credit'] >= 2]['child_num'].value_counts() # 신용도가 2 이상인 사람들의 자식수

0     11785
1      3391
2      1559
3       198
4        27
14        3
7         2
5         2
19        1
Name: child_num, dtype: int64

In [ ]:
train['child_num'].value_counts()

0     18340
1      5386
2      2362
3       306
4        47
5        10
14        3
7         2
19        1
Name: child_num, dtype: int64

## __Feature Engineering
1. 의미없는 변수 제거
- index 제거
- FLAG_MOBIL 삭제:모든 값이 1로 동일
- 또 어떤 변수를 더 삭제하면 좋을지 함께 고민

2. 'DAYS_EMPLOYED' : 취업이 된지 몇일지 되었는지
- 음수 값이 중요함
- 양수 값이면 무의미하기에, 0으로 변경

3. 모든 음수로 표현된 값을 양수로 변환 : 'DAYS_EMPLOYED', 'DAYS_BIRTH', 'begin_month'
- 에러 방지
- 양수 값이면 무의미하기에, 0으로 변경

In [ ]:
for df in [train,test]:
  # 1. 무의미한 컬럼 삭제
  df.drop(['index', 'FLAG_MOBIL'], axis=1, inplace=True)
  # 2. 무의미한 양수 값 0으로 변경
  df['DAYS_EMPLOYED'] = train['DAYS_EMPLOYED'].map(lambda x: 0 if x > 0 else x)

# 3. 음수로 표기된 값들 모두 양수로 바꾸기
feats = ['DAYS_BIRTH', 'begin_month', 'DAYS_EMPLOYED']
for feat in feats:
    train[feat]=np.abs(train[feat])
    test[feat]=np.abs(test[feat])

## __새로 생성한 컬럼 리스트__
4. Age 나이관련
* AGE : 만나이, 태어난 후 일수 // 365 
* AGE_col : 나이의 앞자리 수, (예) 22세 -> 20대 -> 2
* AGE_months = 나이를 만 개월 수로 환산 , df['DAYS_BIRTH'] // 30
* AGE_weeks = 나이를 만으로 몇 주인지 환산 , df['DAYS_BIRTH'] // 7

In [ ]:
for df in [train,test]:

  df["AGE"] = np.abs(df["DAYS_BIRTH"]) // 365
  df['Age_col'] = 0

  # Age_col : 나이의 앞자리 수, (예) 22세 -> 20대 -> 2
  df.loc[df['AGE']<30, 'AGE_col'] = 2 #20대
  df.loc[(df['AGE']>=30) & (df['AGE']<40), 'AGE_col'] = 3 #30대
  df.loc[(df['AGE']>=40) & (df['AGE']<50), 'AGE_col'] = 4 #40대
  df.loc[(df['AGE']>=50) & (df['AGE']<60), 'AGE_col'] = 5 #50대
  df.loc[df['AGE']>=60, 'AGE_col'] = 6 #60대

  #DAYS_BIRTH 파생변수- Age(나이), 태어난 월, 태어난 주(출생연도의 n주차)
  # df['Age'] = df['DAYS_BIRTH'] // 365
  df['AGE_months'] = df['DAYS_BIRTH'] // 30
  df['AGE_weeks'] = df['DAYS_BIRTH'] // 7

In [ ]:
train[['AGE_col']].head(20)

    AGE_col
0   3.00000
1   3.00000
2   5.00000
3   4.00000
4   4.00000
5   3.00000
6   4.00000
7   4.00000
8   4.00000
9   4.00000
10  5.00000
11  3.00000
12  3.00000
13  2.00000
14  6.00000
15  3.00000
16  5.00000
17  2.00000
18  6.00000
19  3.00000

## __5. 가족 인원 수 관련 : child_num, family_size__
* family_size : 가족 수가 5 이상이면 5 로 처리
* child_num : 자녀 수가 3 이상이면 3 으로 처리
* child_exist : 자녀 존재 여부, 자녀 수가 없으면 0, 있으면 1 
* no_parent : 부모 수 (number of parents), 가족 수 - 자녀 수
* single_person_households : 1인 가족인지 사실여부, 1인 가족이면 1, 아니면 0
* 결측치 처리 : 가족 수에서 자녀 수를 뺀 수가 0 또는 미만이면, 가족 인원수를 child_num + 2로 대체

In [ ]:
for df in [train,test]:
  # 가족 인원수
  df['family_size'][df['family_size'] >= 5] = 5
  # 자녀 수
  df['child_num'][df['child_num'] >= 3] = 3
  # 자녀 존재 여부
  df['child_exist'] = df['child_num'].map(lambda x: 0 if x == 0 else 1)
  # 부모님 수 
  df['no_parent'] = df['family_size'] - df['child_num']
  # 1인 가족 사실 여부
  df['single_person_households'] = df['family_size'].map(lambda x: 1 if x == 1 else 0)
  # 가족 인원수 결측치 처리
  df['family_size'][df['family_size'] - df['child_num'] <= 0] = df['child_num'] + 2

## __6. 고용 관련 변수 생성__
* 취업 및 무취업 기간 년, 월, 주로 환산

In [ ]:
for df in [train,test]:

    # years (근속연수), months (고용된 달), weeks (고용된 주)  
    df['EMPLOYED_years'] = df['DAYS_EMPLOYED'] // 365
    df['EMPLOYED_months'] = df['DAYS_EMPLOYED'] // 30
    df['EMPLOYED_weeks'] = df['DAYS_EMPLOYED'] // 7

    # 태어난 후부터 계산한 무취업 일수
    df['DAYS_UNEMPLOYED'] = df['DAYS_BIRTH'] - df['DAYS_EMPLOYED']
    df['UNEMPLOYED_years'] = df['DAYS_UNEMPLOYED'] // 365
    df['UNEMPLOYED_months'] = df['DAYS_UNEMPLOYED'] // 30 
    df['UNEMPLOYED_weeks'] = df['DAYS_UNEMPLOYED'] // 7

## __7. 연봉 관련__

In [ ]:
for df in [train,test]:
    # ratio 를 더 만들어보기

    # 한 사람/회원이 대략적으로 평생 번 금액
    df['income_whole_life'] = df['income_total'] * df['EMPLOYED_years']

    # salary 월급
    df['salary'] = df['income_total'] // 12

    # 가족 1인당 연간 사용 가능 한도 금액 = 연간 소득 / 가족 인원수
    df['income_per_person'] = df['income_total'] / df['family_size']
    # 가족 1인당 월간 사용 가능 한도 금액 = 월급 / 가족 인원수
    df['income_pp_month'] = df['salary'] / df['family_size']

    # begin_month, 연봉
   

    #ability: (연봉 * 근무연도) / 근무일수
    df['income_per_day'] = (df['income_total'] * df['EMPLOYED_years']) / df['DAYS_EMPLOYED']

## __8. 회원 각각의 고유한 번호 생성__

In [ ]:
for df in [train,test]:
    
    # ID 생성: 각 컬럼의 값들을 더해서 회원의 고유한 번호를 생성
    # 결과를 더 낫게 만드는 ID 조합이 있는지 찾아보기
    df['ID'] = \
    df['income_type'].astype(str) + '_' + df['income_total'].astype(str) + '_' +\
    df['house_type'].astype(str) + '_' + df['occyp_type'].astype(str) + '_' + \
    df['DAYS_BIRTH'].astype(str) + '_' + df['DAYS_EMPLOYED'].astype(str) + '_' +\
    df['work_phone'].astype(str) + '_' + df['phone'].astype(str) + '_' +\
    df['email'].astype(str) + '_' + df['family_size'].astype(str) + '_' +\
    df['gender'].astype(str) + '_' + df['car'].astype(str) + '_' +\
    df['reality'].astype(str) + '_' + df['income_type'].astype(str) + '_' +\
    df['edu_type'].astype(str) + '_' + df['family_type'].astype(str)

In [ ]:
train.head()

  gender car  ... income_per_day                                                 ID
0      F   N  ...      516.03313  Commercial associate_202500.0_Municipal apartm...
1      F   N  ...      642.85714  Commercial associate_247500.0_House / apartmen...
2      M   Y  ...     1217.86198  Working_450000.0_House / apartment_Managers_19...
3      F   N  ...      483.98662  Commercial associate_202500.0_House / apartmen...
4      F   Y  ...      374.10926  State servant_157500.0_House / apartment_Manag...

[5 rows x 39 columns]

In [ ]:
train.groupby(['ID']).count()[['credit']]

                                                    credit
ID
Commercial associate_103500.0_House / apartment...       4
Commercial associate_103500.0_House / apartment...       4
Commercial associate_103500.0_House / apartment...       1
Commercial associate_103500.0_House / apartment...       2
Commercial associate_103500.0_House / apartment...       1
...                                                    ...
Working_99000.0_Municipal apartment_Laborers_11...       3
Working_99000.0_Municipal apartment_NaN_19030_2...       1
Working_99000.0_Rented apartment_Managers_9928_...       5
Working_99000.0_With parents_Medicine staff_195...       1
Working_99000.0_With parents_NaN_10417_436_0_0_...       6

[8755 rows x 1 columns]

# __문자열로 이루어진 컬럼은 정수로 변환하는 함수 Encoder 사용__
### Ordinal Encoder (참고 웹사이트 : http://www.gisdeveloper.co.kr/?p=9907 )

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    26457 non-null  object
 1   car                       26457 non-null  object
 2   reality                   26457 non-null  object
 3   child_num                 26457 non-null  int64
 4   income_total              26457 non-null  float64
 5   income_type               26457 non-null  object
 6   edu_type                  26457 non-null  object
 7   family_type               26457 non-null  object
 8   house_type                26457 non-null  object
 9   DAYS_BIRTH                26457 non-null  int64
 10  DAYS_EMPLOYED             26457 non-null  int64
 11  work_phone                26457 non-null  int64
 12  phone                     26457 non-null  int64
 13  email                     26457 non-null  int64
 14  occyp_type                26457 non-null  object
 15  family_size               26457 non-null  float64
 16  begin_month               26457 non-null  float64
 17  credit                    26457 non-null  float64
 18  AGE                       26457 non-null  int64
 19  Age_col                   26457 non-null  int64
 20  AGE_col                   26457 non-null  float64
 21  AGE_months                26457 non-null  int64
 22  AGE_weeks                 26457 non-null  int64
 23  child_exist               26457 non-null  int64
 24  no_parent                 26457 non-null  float64
 25  single_person_households  26457 non-null  int64
 26  EMPLOYED_years            26457 non-null  int64
 27  EMPLOYED_months           26457 non-null  int64
 28  EMPLOYED_weeks            26457 non-null  int64
 29  DAYS_UNEMPLOYED           26457 non-null  int64
 30  UNEMPLOYED_years          26457 non-null  int64
 31  UNEMPLOYED_months         26457 non-null  int64
 32  UNEMPLOYED_weeks          26457 non-null  int64
 33  income_whole_life         26457 non-null  float64
 34  salary                    26457 non-null  float64
 35  income_per_person         26457 non-null  float64
 36  income_pp_month           26457 non-null  float64
 37  income_per_day            22019 non-null  float64
 38  ID                        26457 non-null  object
dtypes: float64(11), int64(19), object(9)
memory usage: 7.9+ MB

In [ ]:
# 숫자 컬럼만 구분하여 리스트에 컬럼명 저장, 결과치인 credit 은 제외
number_feats = train.dtypes[train.dtypes != "object"].index.tolist() 
number_feats.remove('credit')

# 문자 컬럼만 구분하여 리스트에 컬럼명 저장
string_feats = train.dtypes[train.dtypes == "object"].index.tolist() 

# Encoder 를 사용할 때에도 encoding 모델을 fit 하게 맞춰주는 것이 필요하다. 
# encoder.fit_transform : Encoder 모델을 생성하고, 사용하여 문자 변수를 정수로 변경
# encoder.transform : 만들어진 Encoder 모델을 사용해 문자 변수를 정수로 변경

encode = OrdinalEncoder(string_feats)
train[string_feats] = encode.fit_transform(train[string_feats], train['credit'])
test[string_feats] = encode.transform(test[string_feats])

non_int_feats = train.dtypes[train.dtypes != "int64"].index.tolist() 
non_int_feats.remove('credit') # credit 컬럼은 test set 에 존재하지 않으므로 삭제

for df in [train,test]:
  for feat in non_int_feats:
    df[non_int_feats] = df[non_int_feats].astype('int64')

In [ ]:
train.columns

Index(['gender', 'car', 'reality', 'child_num', 'income_total', 'income_type',
       'edu_type', 'family_type', 'house_type', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'work_phone', 'phone', 'email', 'occyp_type', 'family_size',
       'begin_month', 'credit', 'AGE', 'AGE_col', 'AGE_months', 'AGE_weeks',
       'child_exist', 'no_parent', 'single_person_households',
       'EMPLOYED_years', 'EMPLOYED_months', 'EMPLOYED_weeks',
       'DAYS_UNEMPLOYED', 'UNEMPLOYED_years', 'UNEMPLOYED_months',
       'UNEMPLOYED_weeks', 'income_whole_life', 'salary', 'income_per_person',
       'income_pp_month', 'ID', 'cluster'],
      dtype='object')

In [ ]:
for df in [test,train]:
  for feat in df.columns:
    df[df.columns] = df[df.columns].astype('int64')

In [ ]:
non_int_feats

['income_total',
 'family_size',
 'begin_month',
 'AGE_col',
 'no_parent',
 'income_whole_life',
 'salary',
 'income_per_person',
 'income_pp_month']

In [ ]:
# 리스트의 길이 = 컬럼의 갯수
print("Number features count : ", len(number_feats)) 
print("String features count : ", len(string_feats))

Number features count :  27
String features count :  9

In [ ]:
number_feats

['child_num',
 'income_total',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'work_phone',
 'phone',
 'email',
 'family_size',
 'begin_month',
 'AGE',
 'AGE_col',
 'AGE_months',
 'AGE_weeks',
 'child_exist',
 'no_parent',
 'single_person_households',
 'EMPLOYED_years',
 'EMPLOYED_months',
 'EMPLOYED_weeks',
 'DAYS_UNEMPLOYED',
 'UNEMPLOYED_years',
 'UNEMPLOYED_months',
 'UNEMPLOYED_weeks',
 'income_whole_life',
 'salary',
 'income_per_person',
 'income_pp_month']

In [ ]:
string_feats

['gender',
 'car',
 'reality',
 'income_type',
 'edu_type',
 'family_type',
 'house_type',
 'occyp_type',
 'ID']

In [ ]:
#Log Scale

#income_total 만 로그변환하는 코드
for df in [train,test]:
  df['income_total'] = np.log1p(df['income_total']) 

# 모든 숫자 컬럼 로그변환하는 코드
# for df in [train,test]:
#    for feat in number_feats:
#      df[number_feats] = np.log1p(df[number_feats])

# __Scaling__
- 모든 숫자 컬럼을 스케일할지, 숫자가 큰 컬럼만 할지
- 사용할 수 있는 스케일링 / 정규화
- 옵션 1 : 최소-최대 정규화(Min-Max Normalization)
- 옵션 2 : 로그변환(Log Transformation)
- 옵션 3 : Standard Scaler (하단에 코드 있음)
- 옵션 4 : Z-점수(Z-Score) 정규화 (우리가 수업시간에 하지 않았던 정규화)

In [ ]:
train.head()

   gender  car  reality  ...  income_per_person  income_pp_month  ID
0       1    1        1  ...             101250             8437   1
1       1    1        2  ...              82500             6875   2
2       2    2        2  ...             225000            18750   3
3       1    1        2  ...             101250             8437   4
4       1    2        2  ...              78750             6562   5

[5 rows x 37 columns]

In [ ]:
test.head()

   gender  car  reality  ...  income_per_person  income_pp_month       ID
0       2    2        1  ...              56250             4687 -1.00000
1       1    1        2  ...              67500             5625 -1.00000
2       1    1        2  ...              34686             2890 -1.00000
3       2    2        1  ...              56250             4687 -1.00000
4       1    2        2  ...             112500             9375 -1.00000

[5 rows x 36 columns]

In [ ]:
# Standard Scale 코드
# 이미 로그변환을 진행한 income_total을 제외한 나머지 numeric 컬럼만 정규화?

# 나머지 컬럼도 정규화 대신 로그변환을 하면 어떨까?

# numerical_feats.remove('income_total')

# scale = StandardScaler()
# train[number_feats] = scale.fit_transform(train[number_feats])
# test[number_feats] = scale.transform(test[number_feats])

# __개선 가능 사항__
### 0. Scale 을 하는 이유 : 알고리즘이 숫자가 큰 변수를 중요하게 인식한다. 그래서 모든 변수를 스케일하여 맞춰준 후 알고리즘을 돌리면 모든 변수를 동일한 중요도로 인식하고 분석을 시작한다.
### 1. 클러스터링을 공부하고 사용할지 결정
### __2. 중복을 찾고 제거할지, 또는 oversampling을 통해 중복 데이터를 늘려서 더 정확한 예측 결과 유추가 가능한지 확인하기 : https://dacon.io/competitions/official/235713/codeshare/2522?page=1&dtype=vote & https://dacon.io/competitions/official/235713/codeshare/2509?page=1&dtype=vote__ & 강사님 강의 자료 참고
### 3. 다중공선을 공부 후, 파생변수와 다중공선을 보이는 컬럼 삭제할지 결정
### __4. 구간화를 공부 후, 사용할지 결정하기__
### 5. feature importance 확인하고 제거하면 더 좋은 변수들이 있는지 찾아보기 : (ID 생성 후, feature importance 가 낮은 컬럼들도 지워보기... gender, car, etc.) https://dacon.io/competitions/official/235713/codeshare/2746?page=1&dtype=recent
### __6. 정규화와 로그변환의 장단점은? 어떤 상황에 어떤 것이 더 좋은가? 한쪽으로 데이터가 치우친 컬럼의 정규화가 좋다고 배웠던 것 같다...__
### 7. Pycaret 을 사용하여 더 좋은 알고리즘 모델을 찾고, 파라미터 튜닝도 추천받기. 강사님 오후 강의 참고 & 사용법 참고 https://dacon.io/competitions/official/235713/codeshare/2477page=2&dtype=vote
### 8. 여기에 추가로 변수 변환 : https://dacon.io/competitions/official/235713/codeshare/2510?page=2&dtype=vote
### __9. 범주형 데이터와 연속형 데이터(실수)의 차이 : 각각 처리하는 방법 확인. 강사님 자료 : https://colab.research.google.com/drive/1dEzp_wQKtYXK5t5XN4Ob79UJ5iCdDJga__
### 10. Grid Search CV 를 통해서 좋은 알고리즘 파라미터를 추천 받을 수 있다.

In [ ]:
# 클러스터링 구성
# 타겟을 결정짓는 뚜렷한 특징을 갖는 피쳐를 찾지 못해 clustering 시도

# kmeans_train = train.drop(['credit'], axis=1)
# kmeans = KMeans(n_clusters=36, random_state=42).fit(kmeans_train)
# train['cluster'] = kmeans.predict(kmeans_train)
# test['cluster'] = kmeans.predict(test)

In [ ]:
# 현재는 중복 제거 하지 않은 상태

In [ ]:
#구간화 함수
# def make_bin(df, variable, n):
    
#     data = df
#     count, bin_dividers = np.histogram(data[variable], bins=n)
#     bin_names=[str(i) for i in range(n)]
#     data['%s_bin' % variable] = pd.cut(x=data[variable], bins=bin_dividers, labels=bin_names, include_lowest=True)
#     data['%s_bin' % variable] = pd.factorize(data['%s_bin' % variable])[0]
#     print(data['%s_bin' % variable], '\n\n')
    
#     return data

# # days_birth만 구간화 했을 떄 가장 성능이 좋았음
# train = make_bin(train, 'DAYS_BIRTH', n=10)
# test = make_bin(test, 'DAYS_BIRTH', n=10)

In [ ]:
# pivot table 써서 변수 사이의 중요한 관계도 보기

In [ ]:
# feature importance 뽑아보기

In [ ]:
# 파생변수와 다중공선을 보이는 컬럼 삭제

# cols = ['child_num', 'DAYS_BIRTH', 'DAYS_EMPLOYED',]
# train.drop(cols, axis=1, inplace=True)
# test.drop(cols, axis=1, inplace=True)

# __알고리즘 모델로 결과를 내보기__
* ### __우리만의 알고리즘 & 튜닝된 파라미터를 찾아보기.__
* ### __일단은 default 기본 값으로 알고리즘을 돌려보고 파라미터를 어떻게 변경하면 더 좋을지 고민해보아도 좋다.__
* ### Grid Search CV 를 통해서 좋은 파라미터를 추천 받을 수 있다.

In [ ]:
# Modeling - catboost
# private 1위 선택 : 
# fold 수를 5부터 17까지 돌려보고 최적 fold 15로 판단 후 선택
# parameter를 default로 두는 것이 logloss가 가장 낮았음

n_est = 2000
seed = 42
n_fold = 15
n_class = 3

target = 'credit'
X = train.drop(target, axis=1)
y = train[target]
X_test = test

skfold = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)
folds=[]
for train_idx, valid_idx in skfold.split(X, y):
        folds.append((train_idx, valid_idx))

cat_pred = np.zeros((X.shape[0], n_class))
cat_pred_test = np.zeros((X_test.shape[0], n_class))
cat_cols = ['income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type', 'ID']
for fold in range(n_fold):
  print(f'\n----------------- Fold {fold} -----------------\n')
  train_idx, valid_idx = folds[fold]
  X_train, X_valid, y_train, y_valid = X.iloc[train_idx], X.iloc[valid_idx], y[train_idx], y[valid_idx]
  train_data = Pool(data=X_train, label=y_train, cat_features=cat_cols)
  valid_data = Pool(data=X_valid, label=y_valid, cat_features=cat_cols)

  model_cat = CatBoostClassifier()
  model_cat.fit(train_data, eval_set=valid_data, use_best_model=True, early_stopping_rounds=100, verbose=100)
  
  cat_pred[valid_idx] = model_cat.predict_proba(X_valid)
  cat_pred_test += model_cat.predict_proba(X_test) / n_fold
  print(f'CV Log Loss Score: {log_loss(y_valid, cat_pred[valid_idx]):.6f}')
    
print(f'\tLog Loss: {log_loss(y, cat_pred):.6f}')

----------------- Fold 0 -----------------

Learning rate set to 0.115128
0:	learn: 1.0350914	test: 1.0334635	best: 1.0334635 (0)	total: 155ms	remaining: 2m 34s
100:	learn: 0.7056311	test: 0.6583780	best: 0.6583780 (100)	total: 12.1s	remaining: 1m 47s
200:	learn: 0.6889491	test: 0.6560270	best: 0.6560270 (200)	total: 25.2s	remaining: 1m 40s
300:	learn: 0.6738504	test: 0.6556564	best: 0.6555089 (210)	total: 38.9s	remaining: 1m 30s
400:	learn: 0.6602034	test: 0.6547023	best: 0.6545426 (389)	total: 56.1s	remaining: 1m 23s
500:	learn: 0.6447439	test: 0.6548064	best: 0.6544800 (485)	total: 1m 9s	remaining: 1m 9s
600:	learn: 0.6302123	test: 0.6545517	best: 0.6535082 (549)	total: 1m 23s	remaining: 55.2s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6535082205
bestIteration = 549

Shrink model to first 550 iterations.
CV Log Loss Score: 0.653508

----------------- Fold 1 -----------------

Learning rate set to 0.115128
0:	learn: 1.0350950	test: 1.0343698	best: 1.0343698 (0)	total: 157ms	remaining: 2m 36s
100:	learn: 0.7067936	test: 0.6554870	best: 0.6554870 (100)	total: 12.1s	remaining: 1m 47s
200:	learn: 0.6901564	test: 0.6532427	best: 0.6525075 (183)	total: 25.2s	remaining: 1m 40s
300:	learn: 0.6750916	test: 0.6517469	best: 0.6516281 (298)	total: 38.4s	remaining: 1m 29s
400:	learn: 0.6596456	test: 0.6516669	best: 0.6506245 (338)	total: 51.5s	remaining: 1m 16s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6506244727
bestIteration = 338

Shrink model to first 339 iterations.
CV Log Loss Score: 0.650624

----------------- Fold 2 -----------------

Learning rate set to 0.115128
0:	learn: 1.0348884	test: 1.0358745	best: 1.0358745 (0)	total: 144ms	remaining: 2m 23s
100:	learn: 0.7065680	test: 0.6569419	best: 0.6569419 (100)	total: 12.5s	remaining: 1m 51s
200:	learn: 0.6885766	test: 0.6544923	best: 0.6544228 (175)	total: 25.6s	remaining: 1m 41s
300:	learn: 0.6736627	test: 0.6534544	best: 0.6530731 (268)	total: 38.7s	remaining: 1m 29s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6530730856
bestIteration = 268

Shrink model to first 269 iterations.
CV Log Loss Score: 0.653073

----------------- Fold 3 -----------------

Learning rate set to 0.115128
0:	learn: 1.0347188	test: 1.0366726	best: 1.0366726 (0)	total: 152ms	remaining: 2m 31s
100:	learn: 0.7025419	test: 0.6788064	best: 0.6785955 (99)	total: 12.3s	remaining: 1m 49s
200:	learn: 0.6867507	test: 0.6781257	best: 0.6777863 (172)	total: 27.9s	remaining: 1m 51s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6777862703
bestIteration = 172

Shrink model to first 173 iterations.
CV Log Loss Score: 0.677786

----------------- Fold 4 -----------------

Learning rate set to 0.115128
0:	learn: 1.0349257	test: 1.0353216	best: 1.0353216 (0)	total: 143ms	remaining: 2m 22s
100:	learn: 0.7025196	test: 0.6733808	best: 0.6731413 (96)	total: 17.2s	remaining: 2m 32s
200:	learn: 0.6870241	test: 0.6712152	best: 0.6711501 (197)	total: 37.3s	remaining: 2m 28s
300:	learn: 0.6718770	test: 0.6730689	best: 0.6707583 (212)	total: 56s	remaining: 2m 10s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6707583377
bestIteration = 212

Shrink model to first 213 iterations.
CV Log Loss Score: 0.670758

----------------- Fold 5 -----------------

Learning rate set to 0.115128
0:	learn: 1.0350599	test: 1.0341707	best: 1.0341707 (0)	total: 148ms	remaining: 2m 27s
100:	learn: 0.7046755	test: 0.6650398	best: 0.6650398 (100)	total: 14.1s	remaining: 2m 5s
200:	learn: 0.6876803	test: 0.6637751	best: 0.6634663 (191)	total: 31.2s	remaining: 2m 4s
300:	learn: 0.6703471	test: 0.6630972	best: 0.6623709 (266)	total: 44.4s	remaining: 1m 43s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6623708559
bestIteration = 266

Shrink model to first 267 iterations.
CV Log Loss Score: 0.662371

----------------- Fold 6 -----------------

Learning rate set to 0.115128
0:	learn: 1.0351600	test: 1.0336929	best: 1.0336929 (0)	total: 148ms	remaining: 2m 28s
100:	learn: 0.7038967	test: 0.6823668	best: 0.6820386 (86)	total: 11.9s	remaining: 1m 46s
200:	learn: 0.6871667	test: 0.6802355	best: 0.6802355 (200)	total: 24.8s	remaining: 1m 38s
300:	learn: 0.6718888	test: 0.6796358	best: 0.6794851 (256)	total: 37.9s	remaining: 1m 28s
400:	learn: 0.6563722	test: 0.6805452	best: 0.6793136 (308)	total: 52s	remaining: 1m 17s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.679313565
bestIteration = 308

Shrink model to first 309 iterations.
CV Log Loss Score: 0.679314

----------------- Fold 7 -----------------

Learning rate set to 0.115128
0:	learn: 1.0348913	test: 1.0353820	best: 1.0353820 (0)	total: 150ms	remaining: 2m 30s
100:	learn: 0.7033006	test: 0.6701207	best: 0.6701159 (99)	total: 12.2s	remaining: 1m 48s
200:	learn: 0.6857304	test: 0.6665719	best: 0.6665159 (171)	total: 27.1s	remaining: 1m 47s
300:	learn: 0.6702685	test: 0.6654685	best: 0.6653109 (299)	total: 40.4s	remaining: 1m 33s
400:	learn: 0.6561440	test: 0.6659481	best: 0.6651530 (339)	total: 58.4s	remaining: 1m 27s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6651529759
bestIteration = 339

Shrink model to first 340 iterations.
CV Log Loss Score: 0.665153

----------------- Fold 8 -----------------

Learning rate set to 0.115128
0:	learn: 1.0346863	test: 1.0360128	best: 1.0360128 (0)	total: 145ms	remaining: 2m 24s
100:	learn: 0.7036240	test: 0.6868735	best: 0.6868735 (100)	total: 12.1s	remaining: 1m 47s
200:	learn: 0.6855548	test: 0.6832475	best: 0.6832293 (199)	total: 25.3s	remaining: 1m 40s
300:	learn: 0.6700423	test: 0.6819393	best: 0.6814433 (245)	total: 38.5s	remaining: 1m 29s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6814433205
bestIteration = 245

Shrink model to first 246 iterations.
CV Log Loss Score: 0.681443

----------------- Fold 9 -----------------

Learning rate set to 0.115128
0:	learn: 1.0349945	test: 1.0349520	best: 1.0349520 (0)	total: 146ms	remaining: 2m 25s
100:	learn: 0.7034791	test: 0.6597703	best: 0.6597062 (98)	total: 12s	remaining: 1m 46s
200:	learn: 0.6877322	test: 0.6580802	best: 0.6577592 (195)	total: 24.9s	remaining: 1m 39s
300:	learn: 0.6725879	test: 0.6567415	best: 0.6567022 (282)	total: 38.2s	remaining: 1m 28s
400:	learn: 0.6578727	test: 0.6581227	best: 0.6565330 (317)	total: 51.4s	remaining: 1m 16s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6565329667
bestIteration = 317

Shrink model to first 318 iterations.
CV Log Loss Score: 0.656533

----------------- Fold 10 -----------------

Learning rate set to 0.115128
0:	learn: 1.0348429	test: 1.0350127	best: 1.0350127 (0)	total: 149ms	remaining: 2m 28s
100:	learn: 0.7057357	test: 0.6584251	best: 0.6583196 (98)	total: 11.9s	remaining: 1m 46s
200:	learn: 0.6888942	test: 0.6567744	best: 0.6557849 (163)	total: 24.7s	remaining: 1m 38s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6557849243
bestIteration = 163

Shrink model to first 164 iterations.
CV Log Loss Score: 0.655785

----------------- Fold 11 -----------------

Learning rate set to 0.115128
0:	learn: 1.0349492	test: 1.0349995	best: 1.0349995 (0)	total: 139ms	remaining: 2m 18s
100:	learn: 0.7022001	test: 0.6853514	best: 0.6853514 (100)	total: 11.7s	remaining: 1m 44s
200:	learn: 0.6860201	test: 0.6856727	best: 0.6849612 (118)	total: 24.8s	remaining: 1m 38s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6849611964
bestIteration = 118

Shrink model to first 119 iterations.
CV Log Loss Score: 0.684961

----------------- Fold 12 -----------------

Learning rate set to 0.115128
0:	learn: 1.0344169	test: 1.0356815	best: 1.0356815 (0)	total: 83.8ms	remaining: 1m 23s
100:	learn: 0.7059443	test: 0.6579285	best: 0.6578393 (89)	total: 11.6s	remaining: 1m 43s
200:	learn: 0.6894854	test: 0.6576833	best: 0.6563662 (155)	total: 24.6s	remaining: 1m 37s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6563661707
bestIteration = 155

Shrink model to first 156 iterations.
CV Log Loss Score: 0.656366

----------------- Fold 13 -----------------

Learning rate set to 0.115128
0:	learn: 1.0348075	test: 1.0330341	best: 1.0330341 (0)	total: 83.3ms	remaining: 1m 23s
100:	learn: 0.7007194	test: 0.6930345	best: 0.6926779 (84)	total: 12.1s	remaining: 1m 47s
200:	learn: 0.6846181	test: 0.6911192	best: 0.6910171 (159)	total: 25s	remaining: 1m 39s
300:	learn: 0.6702232	test: 0.6919609	best: 0.6907876 (224)	total: 38.3s	remaining: 1m 28s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.6907876022
bestIteration = 224

Shrink model to first 225 iterations.
CV Log Loss Score: 0.690788

----------------- Fold 14 -----------------

Learning rate set to 0.115128
0:	learn: 1.0347055	test: 1.0338435	best: 1.0338435 (0)	total: 90ms	remaining: 1m 29s
100:	learn: 0.7042057	test: 0.6653564	best: 0.6652992 (95)	total: 11.8s	remaining: 1m 45s
200:	learn: 0.6864796	test: 0.6627395	best: 0.6626559 (191)	total: 24.8s	remaining: 1m 38s
300:	learn: 0.6716664	test: 0.6612306	best: 0.6611461 (298)	total: 37.7s	remaining: 1m 27s
Stopped by overfitting detector  (100 iterations wait)

bestTest = 0.661146085
bestIteration = 298

Shrink model to first 299 iterations.
CV Log Loss Score: 0.661146
	Log Loss: 0.666640

In [ ]:
train.head()

   gender  car  reality  ...  income_pp_month  ID  cluster
0       1    1        1  ...             8437   1       31
1       1    1        2  ...             6875   2        4
2       2    2        2  ...            18750   3       17
3       1    1        2  ...             8437   4        4
4       1    2        2  ...             6562   5       27

[5 rows x 38 columns]

In [ ]:
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold

In [ ]:
# 참고 자료 : https://dacon.io/competitions/official/235713/codeshare/2476?page=1&dtype=vote

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
folds=[]
for train_idx, valid_idx in skf.split(train, train['credit']):
    folds.append((train_idx, valid_idx))

random.seed(42)
lgb_models={}
for fold in range(5):
    print(f'===================================={fold+1}============================================')
    train_idx, valid_idx = folds[fold]
    X_train, X_valid, y_train, y_valid = train.drop(['credit'],axis=1).iloc[train_idx].values, train.drop(['credit'],axis=1).iloc[valid_idx].values,\
                                         train['credit'][train_idx].values, train['credit'][valid_idx].values 
    lgb = LGBMClassifier(n_estimators=1000)
    lgb.fit(X_train, y_train, 
            eval_set=[(X_train, y_train), (X_valid, y_valid)], 
            early_stopping_rounds=30,
           verbose=100)
    lgb_models[fold]=lgb
    print(f'================================================================================\n\n')

====================================1============================================
Training until validation scores don't improve for 30 rounds.
[100]	training's multi_logloss: 0.656654	valid_1's multi_logloss: 0.746321
[200]	training's multi_logloss: 0.57079	valid_1's multi_logloss: 0.721837
[300]	training's multi_logloss: 0.508088	valid_1's multi_logloss: 0.712119
[400]	training's multi_logloss: 0.45802	valid_1's multi_logloss: 0.707127
Early stopping, best iteration is:
[439]	training's multi_logloss: 0.440734	valid_1's multi_logloss: 0.705744
================================================================================


====================================2============================================
Training until validation scores don't improve for 30 rounds.
[100]	training's multi_logloss: 0.652139	valid_1's multi_logloss: 0.7619
[200]	training's multi_logloss: 0.56928	valid_1's multi_logloss: 0.744749
[300]	training's multi_logloss: 0.506149	valid_1's multi_logloss: 0.739089
[400]	training's multi_logloss: 0.454916	valid_1's multi_logloss: 0.736064
Early stopping, best iteration is:
[398]	training's multi_logloss: 0.455956	valid_1's multi_logloss: 0.736008
================================================================================


====================================3============================================
Training until validation scores don't improve for 30 rounds.
[100]	training's multi_logloss: 0.654095	valid_1's multi_logloss: 0.751279
[200]	training's multi_logloss: 0.57024	valid_1's multi_logloss: 0.731517
[300]	training's multi_logloss: 0.507278	valid_1's multi_logloss: 0.722451
[400]	training's multi_logloss: 0.457863	valid_1's multi_logloss: 0.720438
Early stopping, best iteration is:
[389]	training's multi_logloss: 0.462668	valid_1's multi_logloss: 0.719922
================================================================================


====================================4============================================
Training until validation scores don't improve for 30 rounds.
[100]	training's multi_logloss: 0.65132	valid_1's multi_logloss: 0.752031
[200]	training's multi_logloss: 0.565211	valid_1's multi_logloss: 0.734158
[300]	training's multi_logloss: 0.503469	valid_1's multi_logloss: 0.72617
Early stopping, best iteration is:
[341]	training's multi_logloss: 0.483191	valid_1's multi_logloss: 0.725343
================================================================================


====================================5============================================
Training until validation scores don't improve for 30 rounds.
[100]	training's multi_logloss: 0.652171	valid_1's multi_logloss: 0.74927
[200]	training's multi_logloss: 0.567302	valid_1's multi_logloss: 0.734256
[300]	training's multi_logloss: 0.502851	valid_1's multi_logloss: 0.727388
Early stopping, best iteration is:
[364]	training's multi_logloss: 0.470774	valid_1's multi_logloss: 0.726215
================================================================================